.completed{
    color: #ccc;
    font-style: italic;
    text-align: line-through;
}
// li{
//     width: 600px;
//     cursor: pointer;
//     font-size: 25px;
//     padding: 12px 16px;
//     background-color: #333;
//     border: 1px solid;
// }
button{
    padding: 10px 12px;
    background-color: black;
    color: white;
    cursor: pointer;
}